/* CSS HEX */
:root{
--teak: #b69a6a;
--redwood: #61200e;
--asphalt: #100706;
--swirl: #dacec9;
--yellow-metal: #6b5e31;
--gold-sand: #e7bf92;
--kumera: #8f5b27;
--apricot-peach: #fad5af;
--cape-cod: #3c4442;
}